apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ui.fullname" . }}-default-cluster
  namespace: {{ include "policyreporter.namespace" . }}
  {{- if .Values.annotations }}
  annotations:
    {{- toYaml .Values.annotations | nindent 4 }}
  {{- end }}
  labels:
    {{- include "policyreporter.labels" . | nindent 4 }}
type: Opaque
data:
  host: {{ printf "http://%s:%d" (include "policyreporter.fullname" .) (.Values.service.port | int) | b64enc }}
  {{- if .Values.plugin.kyverno.enabled }}
  {{- $host := printf "http://%s:%d/api" (include "kyverno-plugin.fullname" .) (.Values.plugin.kyverno.service.port | int) }}
  {{- $username := .Values.basicAuth.username }}
  {{- $password := .Values.basicAuth.password }}
  plugin.kyverno: {{ (printf "{\"host\":\"%s\", \"name\":\"kyverno\", \"username\":\"%s\", \"password\":\"%s\"}" $host $username $password) | b64enc }}
  {{- end }}
  {{- if .Values.plugin.trivy.enabled }}
  {{- $username := .Values.basicAuth.username }}
  {{- $password := .Values.basicAuth.password }}
  {{- $host := printf "http://%s:%d/api/vulnr" (include "trivy-plugin.fullname" .) (.Values.plugin.trivy.service.port | int) }}
  plugin.trivy: {{ (printf "{\"host\":\"%s\", \"name\":\"Trivy Vulnerability\", \"username\":\"%s\", \"password\":\"%s\"}" $host $username $password) | b64enc }}
  {{- end }}