apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "policyreporter.fullname" . }}
roleRef:
  kind: Role
  name: {{ include "policyreporter.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: "ServiceAccount"
  name: {{ include "policyreporter.serviceAccountName" . }}
  namespace: policy-reporter
