# Areas of code where owners always wants to be a reviewer/notified.
/charts                 @fjogeleit @aerosouund
/docs                   @fjogeleit @aerosouund
/pkg/api                @fjogeleit @aerosouund
/pkg/config             @fjogeleit @aerosouund
/pkg/cache              @fjogeleit @aerosouund
/pkg/database           @fjogeleit @aerosouund
/pkg/email              @fjogeleit @aerosouund
/pkg/filters            @fjogeleit @aerosouund
/pkg/report             @fjogeleit @aerosouund
/pkg/target             @fjogeleit @aerosouund
/test                   @fjogeleit @aerosouund
/templates              @fjogeleit @aerosouund