namespace: {{ .Release.Namespace }}

tempDir: {{ .Values.ui.tempDir }}

logging:
  enabled: {{ .Values.ui.logging.enabled }}
  encoding: {{ .Values.ui.logging.encoding }}
  logLevel: {{ .Values.ui.logging.logLevel }}

server:
  port: {{ .Values.ui.server.port }}
  logging: {{ .Values.ui.server.logging }}
  overwriteHost: {{ .Values.ui.server.overwriteHost }}

ui:
  displayMode: {{ .Values.ui.displayMode }}

{{- $default := false -}}
{{- range .Values.ui.clusters }}
    {{- if eq .name "Default" -}}
      {{- $default = true -}}
    {{- end -}}
{{- end }}

clusters:
{{- if not $default }}
  - name: Default
    secretRef: {{ include "ui.fullname" . }}-default-cluster
{{- end }}
{{- with .Values.ui.clusters }}
  {{- toYaml . | nindent 2 }}
{{- end }}

{{- with .Values.ui.customBoards }}
customBoards:
  {{- toYaml . | nindent 2 }}
{{- end }}

{{- $kyverno := false -}}
{{- range .Values.ui.sources }}
    {{- if eq .name "kyverno" -}}
      {{- $kyverno = true -}}
    {{- end -}}
{{- end }}

sources:
{{- if not $kyverno }}
  - name: kyverno
    chartType: result
    exceptions: false
    excludes:
      results:
      - warn
      - error
{{- end }}
{{- with .Values.ui.sources }}
  {{- toYaml . | nindent 2 }}
{{- end }}

{{- with .Values.ui.openIDConnect }}
openIDConnect:
  {{- toYaml . | nindent 4 }}
{{- end }}

{{- with .Values.ui.oauth }}
oauth:
  {{- toYaml . | nindent 4 }}
{{- end }}