apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "monitoring.fullname" . }}
  {{ if .Values.serviceMonitor.namespace }}
  namespace: {{ .Values.serviceMonitor.namespace }}
  {{ end }}
  labels:
    {{- include "monitoring.labels" . | nindent 4 }}
    {{- with .Values.serviceMonitor.labels }}
        {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  selector:
    matchLabels:
        {{- include "policyreporter.selectorLabels" . | nindent 8 }}
  endpoints:
  - port: http
