loki:
  # loki host address
  host: ""
  # minimum priority "" < info < warning < error
  minimumPriority: ""
  # Skip already existing PolicyReportResults on startup
  skipExistingOnStartup: true

elasticsearch:
  # elasticsearch host address
  host: ""
  # elasticsearch index (default: policy-reporter)
  index: ""
  # elasticsearch index rotation and index suffix
  # possible values: dayli, monthly, annually, none (default: dayli)
  rotation: ""
  # minimum priority "" < info < warning < error
  minimumPriority: ""
  # Skip already existing PolicyReportResults on startup
  skipExistingOnStartup: true


metrics:
  serviceMonitor: false
  dashboard:
    enabled: false
    namespace: cattle-dashboards

image:
  repository: fjogeleit/policy-reporter
  pullPolicy: IfNotPresent
  tag: 0.6.0

imagePullSecrets: []

service:
  type: ClusterIP
  port: 2112

resources:
  requests:
    memory: 50Mi
    cpu: 10m
  limits:
    memory: 100Mi
    cpu: 50m
