name: Docs

on:
  push:
    branches:
      - gh-pages

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup node env
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
        with:
          node-version: 16

      - name: Docs
        run: cd docs

      - name: Install dependencies
        run: npm install

      - name: Generate
        run: npm run generate

      - name: Copy Helm files
        run: |
          cd ..
          cp index.yaml ./dist/index.yaml
          cp artifacthub-repo.yml ./dist/artifacthub-repo.yml

      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e #v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist

