name: Docs

on:
  push:
    branches:
      - gh-pages

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup node env
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #v6.2.0
        with:
          node-version: 16

      - name: Docs
        run: cd docs

      - name: Install dependencies
        run: npm install

      - name: Generate
        run: npm run generate

      - name: Copy Helm files
        run: |
          cd ..
          cp index.yaml ./dist/index.yaml
          cp artifacthub-repo.yml ./dist/artifacthub-repo.yml

      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e #v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist

