name: Lint helm chart

on:
  push:
    # run pipeline on push on master
    branches:
      - main
    paths:
      - "charts/**"
  
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: "0"

      - name: chart-testing (ct lint)
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run Helm Chart lint
        run: |
          set -e
          ct lint --lint-conf=.github/ct_lintconf.yaml \
                  --chart-yaml-schema=.github/ct_chart_schema.yaml \
                  --target-branch=main \
                  --validate-maintainers=false \
                  --check-version-increment=false \
                  --chart-dirs charts
